@import url(http://fonts.googleapis.com/css?family=Open+Sans:700italic,400italic,300,700);

body {
  font-family: "Open Sans";
  color: #232426;
  margin: 0;
  padding: 0;
  background: #525458 url(fabric.png) center top;
}


#header {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: auto;
}

.title {
  color: #ccc;
  font-weight: normal;
}

#main {
  position: relative;
  z-index: 2;
  -webkit-box-shadow: 0px 0px 30px rgba(0,0,0,0.75);
  background: #f4f8ff;
  color: #444;
}

#main {
  padding-top: 20px;
  padding-bottom: 20px;
}

#header {
  
}

#header h1 {
  margin: 0;
  float: left;
  font-size: 100%;
  padding: 5px 0px;
}

#header ul {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 20px;
}

#header li {
  float: left;
}

#header li a {
  display: block;
  padding: 5px 10px;
  color: #fff;
}

h2.meta {
  font-size: 80%;
}

.group {
  padding-left: 20%;
  padding-right: 20%;
}

#meta {
  position: relative;
  z-index: ;
  padding: 50px 0;
  color: #fff;
  overflow: hidden;
}

#meta .author {
  float: left;
  width: 40%;
  margin-left: 5%;
}

#meta .website {
  float: left;
  width: 40%;
  margin-left: 5%;
}

#meta dl {
  margin: 0;
}

#meta h3 {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

#meta a {
  color: #fff;
  text-decoration: underline;
}

#meta a:hover {
  color: #ddd;
}

#meta ul {
  margin: 0;
}

#meta .author {
  float: left;
  width: 40%;
}

#meta .website {
  float: left;
  padding-left: 5%;
}

#meta h3 {
  margin-top: 0;
}

.author img {
  float: left;
  margin: 0 20px 20px 0;
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.5);
}

.author dt {
  float: left;
  margin-right: 1em;
  width: 70px;
}

.article {
  float: left;
  width: 40%;
  margin-left: 5%;
  padding-right: 5%;
}

.about {
  clear: both;
  padding: 20px 0;
}

#footer {
  margin: 0;
  font-size: 80%;
  padding: 20px 5%;
  color: #000;
  text-align: center;
}

#footer p {
  margin: 0;
}

#footer a {
  color: inherit;
}

*:first-child {
  margin-top: 0;
}

h1 a {
  color: inherit;
}

a {
  color: #156de7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.articleList {
  list-style-type: none;
  padding: 0;
  margin-left: -7px;
}

.articleList li {
  clear: both;
}

.articleList a {
  display: block;
  border-left: solid 3px transparent;
  font-size: 24px;
  padding-left: 8px;
  margin-top: 20px;
  margin-left: -8px;
  margin-bottom: 20px;
  min-height: 75px;
}

.articleList small {
  color: #444;
  font-size: 16px;
}

.articleList a:hover {
  text-decoration: none;
  border-left-color: #444;
}


#main code {
  font-family: monaco, consolas, monospace;
  font-size: 90%;
  background-color: #fff;
  border: 1px solid #e0e0e0;
}
#main pre {
  border: 1px solid #aaa;
  background-color: #fff;
  display: block;
}

#main pre code {
  overflow-x: auto;
  max-height: 600px;
  font-size: 12px;
  line-height: 1.4em;
  display: block;
  padding: 10px;
  border: 0;
  background-color: inherit;
}

iframe {
    border: solid 1px;
}

#members {
  list-style: none;
  padding: 0;
}

#members .about {
  padding: 0;
}

#members > li {
  padding-bottom: 20px;
}

.articleList img {
  float: left;
  margin-right: 10px;
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.5);
}
