--- 
title: Members
order: 2
---

<ul id=members>
  <% Member.all.each do |member| %>
    <li>
      <div class="author">
        <img src="<%= member.gravatar %>?s=200" width="200" height="200">
        <h3><%= member.name %></h3>
        <dl class=meta>
          <% if defined? member.location %>
            <dt>Location:</dt>
            <dd><%= member.location %></dd>
          <% end %>

          <% if defined? member.github %>
            <dt>Github:</dt>
            <dd><a href="https://github.com/<%= member.github %>"><%= member.github %></a></dd>
          <% end %>

          <% if defined? member.twitter %>
            <dt>Twitter:</dt>
            <dd><a href="https://github.com/<%= member.twitter %>"><%= member.twitter %></a></dd>
          <% end %>

          <% if defined? member.website %>
            <dt>Website:</dt>
            <dd><a href="<%= member.website %>"><%= member.website %></a></dd>
          <% end %>
        </dl>
        <p class=about><%= member.about %></p>
        <% if member_articles(member).length %>
          <h4>Articles from <%= member.name %></h4>
          <ul>
            <% member_articles(member).each do |article| %>
              <li><%= link_to article[:title].titleize, article %></li>
            <% end %>
          </ul>
        <% end %>
      </div>      
    </li>
  <% end %>  
</ul>
